.final-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin: 10vh 0px 10vh 0px;
}

.final-card-images {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.final-card-image {

}