
.menu-product-page {
    width: 100%;
    height: 64px;
    background: #fff;

}

.header-product-page {
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}

.logo img {
    object-fit: contain;

    height: 64px;
    margin-right: auto;

}

.nav-menu {
    margin-left: auto;
}
