
.product-specifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

.product-row {
    display: flex;
    justify-content: space-between;
    width: 120%; /* Muda o tamanho dos pares*/
    margin-bottom: 5px; 
    position: relative;
}



.label {
    font-weight: bold;
}

.line {
    width: 120%; /* Muda o tamanho da linha */
    border: 0.5px solid #ccc; 
    margin: 2px 0; 
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
}